span.title CREATED BY:&nbsp;
	a(href="http://ifunny.co/GreatGanglyCankerBlossom" target="_blank") GreatGanglyCankerBlossom

img(src="http://i0.kym-cdn.com/photos/images/original/000/858/365/853.gif" alt="mlg snoop dogg" class="mlg-snoop-dogg" width="20%")
img(src="https://i.imgur.com/ymU48Db.gif" alt="mlg swagg boi" class="mlg-swagg-boi" width="30%")
img(src="http://loomynarty420noscope.webstarts.com/uploads/tumblr_ncitcy5oJx1snslrwo1_500.gif" al="mlg noscoped" class="mlg-no-scope" width="100%")
img(src="https://cdn2.scratch.mit.edu/get_image/gallery/953746_200x130.png?v=1426510220.0" alt="rekt scrub" class="mlg-rekt-scrub" width="50%")
img(src="http://www.partiesbyme.com/wp-content/uploads/tumblr_n47d7f7uFv1rt5pgzo1_400.gif" alt="mlg chicken" class="mlg-chicken" width="30%")
img(src="https://lh3.googleusercontent.com/-TF2JLI9ZAAE/VKgROWGB_nI/AAAAAAAAA5o/bsVbs8A0pC8/w426-h290/15%2B-%2B1" alt="mlg dorito" class="mlg-dorito")
img(src="https://38.media.tumblr.com/7952b5f7f592b356da427f7f38072fb2/tumblr_nlst66zjoZ1tify02o2_500.gif" alt="illuminati confirmed" class="illuminati-confirmed" width="20%")

img(src="https://zippy.gfycat.com/ImaginativeOffensiveAnole.webm" alt="illuminati confirmed1" class="illuminati-confirmed1" width="20%")
